sudo: required
# dist: precise
# group: legacy

services:
  - docker

language: php

env:
  DOCKER_COMPOSE_VERSION: 1.4.2
  NAME: brofist_test_couchbase
  CB_REST_USERNAME: Administrator
  CB_REST_PASSWORD: password
  SLEEP_TIME: 20
  EXECUTE_TEST_COVERALLS: false

php:
  # - 5.6
  - 7.0

# matrix:
#   fast_finish: true
#   include:
#     # - php: 5.6
#     #   env:
#     #     - EXECUTE_TEST_COVERALLS=true
#     #     - EXECUTE_CS_CHECK=true
#     - php: 7

before_install:
  - wget http://packages.couchbase.com/releases/couchbase-release/couchbase-release-1.0-2-amd64.deb
  - sudo dpkg -i couchbase-release-1.0-2-amd64.deb
  - sudo apt-get update
  - sudo apt-get install libcouchbase-dev build-essential php7.0-dev
  # - sudo apt-get install libcouchbase-dev build-essential php-dev
  - sudo pecl install couchbase
  - ./tests/setup.sh

install:
  - travis_retry composer install --no-interaction --ignore-platform-reqs

script:
  - if [[ $EXECUTE_TEST_COVERALLS != 'true' ]]; then vendor/bin/phpunit ; fi
  - if [[ $EXECUTE_TEST_COVERALLS == 'true' ]]; then vendor/bin/phpunit --coverage-clover=./build/logs/clover.xml; fi

after_script:
  - if [[ $EXECUTE_TEST_COVERALLS == 'true' ]]; then ./vendor/bin/coveralls ; fi
